In [ ]:
x=[1,2,3,4,5]
y=[5,6,8]

In [ ]:
len(x)

5

In [ ]:
x.append(y)
x

[1, 2, 3, 4, 5, [5, 6, 8]]

In [ ]:
x.extend(y)
x

[1, 2, 3, 4, 5, [5, 6, 8], 5, 6, 8]

In [ ]:
len(x)

9

In [ ]:
x=[1,5,9,8,3,5]                #only sort keep in oder ,R.true= apposite
x.sort(reverse=True)
x

[9, 8, 5, 5, 3, 1]

In [ ]:
x=[1,5,9,8,9,5]
x.count(5),x.count(9)

(2, 2)

In [ ]:
x=[1,2,3,4,5,8,5]
print(x)             #y[0]is replaysed
y=x[2:5]
print(y)
y[0]=9999
print(y)

[1, 2, 3, 4, 5, 8, 5]
[3, 4, 5]
[9999, 4, 5]

In [ ]:
x=[55,6,8,1,44,9]          #x[x]any can replace
print(x)
y=x[2:9]
print(y)
y[1]=5
print(y)

[55, 6, 8, 1, 44, 9]
[8, 1, 44, 9]
[8, 5, 44, 9]

In [ ]:
def add():
 print("hello")
add()

hello

In [ ]:
x=[1,2,3,4,5,6]          #shallow copy
y=x
y[0]=999
print(x)
print(y)

[999, 2, 3, 4, 5, 6]
[999, 2, 3, 4, 5, 6]

In [ ]:
x=[1,2,3,4,5,6]          #shallow copy
y=x.copy()
y[0]=999
print(x)
print(y)

[1, 2, 3, 4, 5, 6]
[999, 2, 3, 4, 5, 6]

In [ ]:
x=["kiran","came","by car",]          #shallow copy noramal
y=x.copy()                            #deepcopy, copy in apposite
y[2]="by bike"
y[0]="kiran pujarri"
print(x)
print(y)

['kiran', 'came', 'by car']
['kiran pujarri', 'came', 'by bike']

In [ ]:
x=[1,2,3,4,5]                 #pop=remove index front of no
x.pop(3)                      #remove =direct remove
x

[1, 2, 3, 5]

In [ ]:
x=[1,2,3,4,5,6]               #only pop() remove last thing
x.pop()
x

[1, 2, 3, 4, 5]

In [ ]:
x={1,2,3,4,5,5,5}
type(x)

set

In [ ]:
x={1:2,3:"king"}
type(x)
y=x.copy()
y

{1: 2, 3: 'king'}

In [ ]:
x={1:2,3:"king"}
type(x)

dict

In [ ]:
x={1,2,33,9,"data" "engineering"}              #union= combind both
y={5,6,7,8,"data science"}
x.union(y)

{1, 2, 33, 5, 6, 7, 8, 9, 'data science', 'dataengineering'}

In [ ]:
x={1,5,33,9,"data","engineering"}              #intersection= common things
y={5,6,7,8,"data science","data"}
x.intersection(y)

{5, 'data'}

In [ ]:
x={1,6,5,9,"data","engineering"}              #diffrence= which is not in both
y=[5,6,7,8,"data science"]
x.difference(y)

{1, 9, 'data', 'engineering'}

In [ ]:
x={1,2,3,4}                   #issubset=true or false
y={5,6,7,8}
print(x.issubset(y))
print(y.issubset(x))
print(x.issuperset(y))
print(y.isdisjoint(x))

False
False
False
True

In [ ]:
x={1,2,3,4,5}                   #issubset=true or false
y={5,6,7,8}
x.difference_update(y)
x

{1, 2, 3, 4}

In [ ]:
x={1,2,3,4,5,6}                   #symmetric diff_upd= remove common things
y={5,6,7,8}
x.symmetric_difference_update(y)
x

{1, 2, 3, 4, 7, 8}

In [ ]:
x={1,2,3,4,5,6}                   #symmetric diff_upd= remove common things
y={5,6,7,8}
x.symmetric_difference_update(y)
print(x)
print(y)

{1, 2, 3, 4, 7, 8}
{8, 5, 6, 7}

In [ ]:
x={1,2,3,4,5,6}                   #symmetric diff_upd= remove common things
y={5,6,7,8}
x.symmetric_difference(y)
x

{1, 2, 3, 4, 5, 6}

In [ ]:
x={1,2,3,4}                #brfore add ,copy it
y=x.copy()
y.add(50)
print(x)
print(y)

{1, 2, 3, 4}
{1, 2, 3, 4, 50}