In [ ]:
for i in range(0,10):
 print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
for i in range(0,10):
  if i==5:
    break                  #break= it will stop till, continue,if i=6 then remove 6snd continue
  print(i)

0
1
2
3
4

In [ ]:
for i in range(0,5):
  for j in range(4,7):
    print(i,j)                    # if brrak that no will miss ,if continue full no
    if i==4:
      continue

0 4
0 5
0 6
1 4
1 5
1 6
2 4
2 5
2 6
3 4
3 5
3 6
4 4
4 5
4 6

In [ ]:
for i in range(1,10):
  if i==50:
    break                            # i,50=wrong so it goes to print i
  else:
      print(i)

1
2
3
4
5
6
7
8
9

In [ ]:
for i in range(1,5):
  for j in range(1,5):
    if j==4:
     break
    print(i,j)

1 1
1 2
1 3
2 1
2 2
2 3
3 1
3 2
3 3
4 1
4 2
4 3

In [ ]:
n=5
for j in range(1,n+1):
  for i in range(1,n+1):

    print(i,end="")

1234512345123451234512345

In [ ]:
for i in range(1,6):
  for j in range(1,i+1):
    print(j,end="")
  print()

1
12
123
1234
12345

In [ ]:
for i in range(1,6):
  print(i*"*")

*
**
***
****
*****

In [ ]:
for i in range(0,6):
 print(" "*(6-i)+i*"*")

     *
    **
   ***
  ****
 *****

In [ ]:
row=5
for i in range(1,row+1):
 print(" "*(row-i)+i*"*")

    *
   **
  ***
 ****
*****

In [ ]:
for i in range(1,6):
 print(("*"*i).center(10," "))

    *
    **
   ***
   ****
  *****

In [ ]:
for i in range(1, 6):
    print(("*" * i).center(10, " "))       # it taken only even no so diffrenc space

    *
    **
   ***
   ****
  *****

In [ ]:
for i in range(1,6):
 for j in range(1,5):              # it same but += ie will sum both coloum and showed
  print(i+j)

2
3
4
5
3
4
5
6
4
5
6
7
5
6
7
8
6
7
8
9

In [ ]:
for i in range(1,6):
 for j in range(1,i+1):               #it given% and print()so inthis angle
  print((i+j)%2,end=" ")
 print()

0
1 0
0 1 0
1 0 1 0
0 1 0 1 0

In [ ]:
for i in range(1,6):
  for j in range(1,6-i):              # need %
    print((i+j)%2,end=" ")
  print()

0 1 0 1
1 0 1
0 1
1

In [ ]:
for i in range(1,6):
  for j in range(1,6-i):      # both i,j so double in ()
    print((i,j),end=" ")
  print()

(1, 1) (1, 2) (1, 3) (1, 4)
(2, 1) (2, 2) (2, 3)
(3, 1) (3, 2)
(4, 1)

In [ ]:
for i in range(1,6):
  for j in range(1,6-i):
    print(i,end=" ")                   # only i so single
  print()

1 1 1 1
2 2 2
3 3
4

In [ ]:
for i in range(1,6):                  # in % same range
  for j in range(1,6):                #checker board pattern
     print((i+j)%2,end=" ")
  print()

0 1 0 1 0
1 0 1 0 1
0 1 0 1 0
1 0 1 0 1
0 1 0 1 0